.secondary-button {
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  gap: 20px;
  height: 49px;
  padding: 16px 20px 16px 32px;
  position: relative;
  transition: all 0.2s ease-in-out;

  .book-appointment {
    color: #ffffff;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);
    line-height: var(--label-line-height);
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .icon-arrows {
    height: 28px;
    width: 28px;
    display: block;
  }

  &.default {
    background-color: #49dd2b;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.47) 0%,
          rgba(255, 255, 255, 0.47) 100%
        ),
        linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.47) 0%,
          rgba(0, 0, 0, 0.47) 100%
        ),
        linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
    }
  }

  &.hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.47) 0%,
        rgba(255, 255, 255, 0.47) 100%
      ),
      linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
  }

  &.clicked {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.47) 0%,
        rgba(0, 0, 0, 0.47) 100%
      ),
      linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
  }

  &.disabled {
    background-color: #8d8a8b;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.with-icon-false {
    .book-appointment {
      font-family: var(--text-font-family);
      font-size: var(--text-font-size);
      font-style: var(--text-font-style);
      font-weight: var(--text-font-weight);
      letter-spacing: var(--text-letter-spacing);
      line-height: var(--text-line-height);
      text-shadow: 0px 4px 4px #00000040;
    }
  }
}
