.secondary-button {
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  height: 49px;
  padding: 16px 20px 16px 32px;
  position: relative;

  .book-appointment {
    color: #ffffff;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

  .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-bottom: -5.42px;
    margin-top: -5.42px;
    position: relative;
  }

  .icon-arrows-instance {
    height: 27.83px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 27.8px !important;
  }

  .instance-node {
    height: 27.83px !important;
    left: unset !important;
    margin-bottom: -5.42px !important;
    margin-top: -5.42px !important;
    position: relative !important;
    top: unset !important;
    width: 27.8px !important;
  }

  &.with-icon-false {
    display: inline-flex;
  }

  &.clicked {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.47) 0%,
        rgba(0, 0, 0, 0.47) 100%
      ), linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
    display: inline-flex;
    top: 92px;
  }

  &.disabled {
    background-color: #8d8a8b;
    display: inline-flex;
    top: 235px;
  }

  &.hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.47) 0%,
        rgba(255, 255, 255, 0.47) 100%
      ), linear-gradient(0deg, rgba(73, 222, 44, 1) 0%, rgba(73, 222, 44, 1) 100%);
    display: inline-flex;
    top: 164px;
  }

  &.default {
    background-color: #49dd2b;
    top: 20px;
  }

  &.with-icon-false.disabled {
    left: 21px;
  }

  &.with-icon-false.clicked {
    left: 21px;
  }

  &.with-icon-true.hover {
    left: 247px;
  }

  &.clicked.with-icon-true {
    left: 247px;
  }

  &.with-icon-false.hover {
    left: 21px;
  }

  &.default.with-icon-false {
    left: 20px;
  }

  &.default.with-icon-true {
    display: flex;
    left: 246px;
    width: 254px;
  }

  &.with-icon-true.disabled {
    left: 247px;
  }

  &.clicked .book-appointment {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);
    line-height: var(--label-line-height);
  }

  &.disabled .book-appointment {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);
    line-height: var(--label-line-height);
  }

  &.with-icon-true .book-appointment {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);
    line-height: var(--label-line-height);
  }

  &.hover .book-appointment {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    letter-spacing: var(--label-letter-spacing);
    line-height: var(--label-line-height);
  }

  &.default.with-icon-false .book-appointment {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-style: var(--text-font-style);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height);
    text-shadow: 0px 4px 4px #00000040;
  }
}
